[Unit]
Description=Keyboard modifier monitor

[Service]
Type=simple
ExecStart=/usr/bin/kb-mod-monitor
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
